"*":
  core:
    disabledPackages: [
      "spell-check"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      "._*"
      "node_modules"
      ".nuxt"
    ]
    telemetryConsent: "no"
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "975019ba-138d-fbaa-a46c-73a4b5b46b28"
  "spell-check":
    locales: [
      "en-US"
    ]
  "terraform-fmt":
    binPath: "/usr/local/bin/terraform"
    fmtOnSave: true
  welcome:
    showOnStartup: false
